* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(240, 233, 233);
  height: 100px;
  padding: 0 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.head-h1 {
  font-size: 1.5em;
}

.head-h1:hover {
  color: rgb(168, 161, 161);
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  margin: 8px;
}

.section-h1 {
  padding-top: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.section-h2 {
  text-align: center;
  font-size: 3.5em;
  font-weight: normal;
  padding-bottom: 120px;
}

.container-1 {
  width: 100%;
  height: 412px;
  background-color: gray;
  color: black;
  display: flex;
  flex-direction: colun;
}

.feel {
  height: 90%;
  font-size: 2em;
  font-weight: bold;
  align-items: center;
  display: flex;
  padding-left: 40px;
}

.metin {
  height: 120%;
  align-items: center;
  display: flex;
  padding-right: 100px;
}

.buton {
  color: white;
  border-width: 0.8px;
  border-style: solid;
  border-color: black;
}

.container-1 img {
  position: relative;
  right: 0 auto;
}

.services {
  margin-top: 5em;
  color: black;
}

.services h3 {
  font-size: 2em;
  text-align: center;
}

.aciklama {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.baslik {
  width: 50%;
  text-align: center;
  margin-left: 20em;
  margin-right: 20em;
}

.baslik h4 {
  font-size: 1.5em;
  padding: 20px;
}
