* {
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3f6292;
  height: 70px;;
  padding: 0 16px;
  color: white;
}

ul li {
  display: inline-block;
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: white;
  margin-right: 8px;
}

nav ul li a:hover {
  background-color: rgb(116, 120, 165);
  border-radius: 8px;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 300px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

section div h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.3em;
}

.isim {
  text-align: center;
}

section div p {
  opacity: 0.9;
  font-style: italic;
}

section a {
  text-decoration: none;
  background-color: rgb(116, 120, 165);
  margin-top: 1.2em;
  color: white;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 3.4em;
  padding-right: 3.4em;
  border-radius: 5px;
}

section a:hover {
  color: rgb(116, 120, 165);
  background-color: white;
  border-style: solid;
  border-width: 0.8px;
  border-color: rgb(116, 120, 165);
}

section h3 {
  text-align: center;
}

.altelemanlar {
  background-color: rgba(10, 56, 117, 0.788);
  padding: 1.5em;
  color: white;
}

.altelemanlar h3 {
  font-size: 2em;
}

.altelemanlar div article p {
  color: white;
  font-style: normal;
  opacity: 1px;
}

.altaciklama {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.altelemanlar h4 {
  letter-spacing: 0.8px;
}

.a1 {
  width: 33%;
  text-align: center;
  padding: 0.7em;
}

.a1:hover {
  color: pink;
}

section .kurslar {
  font-size: 2.5em;
  text-align: center;
}

#kurslar {
  color: #333;
  padding: 1.5em;
}

.courses {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.courses .course {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
}

.course-image {
  margin-right: 1em;
  position: relative;
}

.course-image span {
  color: white;
  background-color: blue;
  opacity: 0.5;
  padding: 0.75em;
  border-radius: 5px;
  position: absolute;
  top: -40;
  left: 0;
}

.courses .course .course-info .title {
  letter-spacing: 1.2px;
  font-weight: 800;
  margin-bottom: 0.7em;
}

.courses .course .course-info .description {
  letter-spacing: 1.2px;
  margin-bottom: 0.7em;
  opacity: 0.7;
}

.courses .course .course-info .instructor {
  font-size: 1.2em;
  margin-bottom: 0.7em;
  opacity: 0.7;
}

.courses .course .course-info .raiting {
  font-size: 1.2em;
  margin-bottom: 0.7em;
  opacity: 0.7;
}

.iletisim {
  background-color: rgba(10, 56, 117, 0.788);
  padding: 1.5em;
  color: white;
}

footer h4 {
  font-size: 2em;
  text-align: center;
}

.button {
  background-color: gray;
  border-width: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
}

.form-grup {
  padding: 0.7em 0;
}

label {
  display: block;
}

#contact {
  padding: 1.5em;
}
#contact .iletisim-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

textarea {
  overflow: scroll;
}

.form {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  resize: none;
  border-radius: 5px;
}

.iletisim-form ul {
  list-style-type: none;

  display: flex;
  margin-top: 1.5em;
  align-self: center;
  letter-spacing: 1.5em;
  font-size: 2em;
}

.iletisim-form ul a {
  color: white;
}

.iletisim-form ul a:hover {
  opacity: 0.5;
}

@media (max-width: 500px) {
  .altaciklama {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .a1 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .course {
    flex-direction: column;
  }
}
